$breakpoint-tablet: 640px;
$breakpoint-desktop: 1000px;
$header-height-default: 48px;
$header-height-tablet: 64px;
$header-height-desktop: 112px;
$text-primary: #182A42;
$text-secondary: #8090A4;
$system-red: #FF2741;
$gradient-main: linear-gradient(90deg, #003181 0%, #2288ED 100%);
$accent-blue: #43A0FD;
$system-green: #0CBA7A;
$bg-gray: #F6F7F9;
$gray: #E6E9ED;
$accent-light-blue: #E8F4FF;
$border: #EBEBEB;
